node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dist
dist-ssr
*.local
.env
.env.*.local
.git
.gitignore
.DS_Store
*.swp
*.swo
coverage
.vscode
.idea
Dockerfile*
docker-compose*
README.md
docs/
